@import './vars.css';

@font-face {
  font-family: Exo2;
  font-weight: bold;
  src: url('../fonts/Exo2-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Quattrocento Sans';
  src: url('../fonts/QuattrocentoSans-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Quattrocento Sans';
  font-weight: bold;
  src: url('../fonts/QuattrocentoSans-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Quattrocento Sans';
  font-style: italic;
  src: url('../fonts/QuattrocentoSans-Italic.otf') format('opentype');
}

@font-face {
  font-family: Rockwell;
  src: url('../fonts/ROCK.ttf') format('truetype');
}

html {
  font-family: 'Quattrocento Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
  background-color: #f8f8f8;
  min-width: 18rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Exo2;
  font-weight: bold;
}

/* --------------- UTILITY CLASSES --------------- */
.center-text {
  text-align: center !important;
}

.mbs {
  margin-bottom: 2rem !important;
}

.mbm {
  margin-bottom: 4rem !important;
}

.mbl {
  margin-bottom: 8rem !important;
}

.mts {
  margin-top: 2rem !important;
}

.mtm {
  margin-top: 4rem !important;
}

.mtl {
  margin-top: 8rem !important;
}

.mls {
  margin-left: 2rem !important;
}

.mlm {
  margin-left: 4rem !important;
}

.mll {
  margin-left: 8rem !important;
}

.mrs {
  margin-right: 2rem !important;
}

.mrm {
  margin-right: 4rem !important;
}

.mrl {
  margin-right: 8rem !important;
}

.pbs {
  padding-bottom: 2rem !important;
}

.pbm {
  padding-bottom: 4rem !important;
}

.pbl {
  padding-bottom: 8rem !important;
}

.pts {
  padding-top: 2rem !important;
}

.ptm {
  padding-top: 4rem !important;
}

.ptl {
  padding-top: 8rem !important;
}

.pls {
  padding-left: 2rem !important;
}

.plm {
  padding-left: 4rem !important;
}

.pll {
  padding-left: 8rem !important;
}

.prs {
  padding-right: 2rem !important;
}

.prm {
  padding-right: 4rem !important;
}

.prl {
  padding-right: 8rem !important;
}

/* --------------- CROSS-FADE ANIMATIONS --------------- */
.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.cross-fade-height {
  transition: height 0.5s ease-in-out;
}
