:root {
  --color-black: #333;
  --color-white: #fff;
  --color-grey: #ccc;
  --color-primary: #2a5d99;
  --color-primary-highlight: #174170;
  --color-secondary: #495664;
  --color-accent: rgb(255, 115, 0);
  --color-accent-highlight: rgb(253, 127, 37);
}
