@import '../../../styles/media-queries.css';

.root {
  background-color: var(--color-primary);
  color: #fff;
  margin: 1rem 0;
  border-radius: 0;
  padding: 0;

  @media (--media-min-small) {
    padding: 0 1rem;
  }

  @media (--media-min-medium) {
    padding: 1rem 2rem;
  }

  @media (--media-min-large) {
    padding: 1rem 3rem;
  }
}

.sectionTitle {
  text-align: center;

  @media (--media-min-medium) {
    margin-bottom: 3rem;
  }
}

.item {
  margin-bottom: 6rem;
}

.item:last-child {
  margin-bottom: 2rem;
}

.grid {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  justify-items: center;

  @media (--media-min-small) {
    grid-template-columns: 1fr;
  }

  @media (--media-min-medium) {
    grid-template-columns: 2fr 5fr;
    justify-items: start;
  }
}

.bookAndButtonContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
  max-width: 250px;
}

.bookCover {
  border: 2px solid var(--color-white);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.35);
  margin-bottom: 1.5rem;
  width: 100%;
}

.button {
  display: flex;
  align-self: center;
}

.title {
  margin-top: 0;
}

.figureContainer {
  width: 100%;
  max-width: 220px;
}

.artFigure {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
}

.art {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s ease-in;
  border: solid 2px var(--color-white);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.35);
}
