@import '../styles/vars.css';
@import '../styles/media-queries.css';
@import './typography.module.css';

.root {
  display: block;
  text-decoration: none;
  text-align: center;
  color: inherit;
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 24px 0 rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  height: 100%;
  border-left: 1px solid var(--color-grey);
  border-right: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);

  @nest &:hover {
    transform: translateY(-2px);
  }
}

.root:hover {
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

.header {
  height: 3.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.25s;

  @media (--media-min-small) {
    height: 3rem;
  }

  @media (hover: hover) {
    @nest .root:hover & {
      background-color: var(--color-primary-highlight);
    }
  }
}

.title {
  color: white;

  font-size: var(--font-large-size);
  line-height: var(--font-base-line-height);

  @media (--media-min-small) {
    font-size: var(--font-medium-size);
    line-height: var(--font-medium-line-height);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.25s;
}

.bookCoverContainer {
  width: 100%;
  margin-bottom: 1rem;
}

.bookCover {
  border: 1px solid #aaa;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 80%;
}

.preview {
  padding-top: 0.8rem;
  width: 80%;
  border-top: 1px solid var(--color-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.previewText {
  display: inline-block;
}
